body {
    background-color:#ffe9f5;
}

p {
    color:#68002b;
    border: 5px double #fddaed;
    padding: 10px;
    text-align: center;
}

.special {
    background-color: yellowgreen;
}

.highlight {
    color: pink;
}

img {
    width: 100%;
}

.gifback{
    min-height: 100vh; width: 100%; background-color: #ffe9f5; background-image: url(https://i.pinimg.com/originals/19/d7/14/19d71479920640e6cd75fbd9edfe8dec.gif); background-position: center; background-repeat: no-repeat; background-size: 100%; color: #fff; padding: 8%;
}

.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none; margin: 10px 30px;
}