*{
    box-sizing: border-box;
}

body{
    background-color: #fffcc0;
}
img{
    max-width: 100%;
}

.fixed{
    background: #e2aa81;
    border: 1px solid;
    padding: 20px;
    position: fixed;
    top:0;
    left: 0;
}