body {
  font-family: "Arial", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-left: 5%;
  font-size: 30px;
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffffbb;
  transition: transform 0.3s;
  display: inline-block;
  font-weight: 700;
}

a:hover {
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

nav {
  margin-right: 5%;
  font-size: 30px;
}

li {
  list-style: none;
  display: inline;
  padding: 15px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333353;
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

footer {
  display: flex;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.7rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  margin-bottom: 800px;
}

.flex-container > div {
  width: 50vw;
  margin: 30px;
  margin-right: 110px;
}

p {
  color: white;
  background: #000000a4;
  padding: 80px;
  border-radius: 8px;
  font-size: 26px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 900px;
  line-height: 1.6;
}

.flex-container img {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover;
  padding-left: 80px;
}

@media (max-width: 600px) {
  .flex-container img {
    flex: 1 1 100%;
  }
}
.container {
  max-width: 100%;
  margin: auto;
}

.song-row {
  padding-top: 600px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.song {
  flex: 1;
  text-align: center;
  background: #191919b9;
  color: white;

  padding: 15px;
  border-radius: 8px;
  min-width: 150px;
}

.image-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.image-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 150px;
}

.image-column img {
  width: 100%;
  border-radius: 5px;
  background: #000000;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-background {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

div.scroll-container {
  background-color: #000000;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  width: 700px;
  padding: 50px;
}
