body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}
.logo {
  margin-left: 5%;
  font-size: 30px;
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffffbb;
  transition: transform 0.3s;
  display: inline-block;
  font-weight: 700;
}

a:hover {
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

nav {
  margin-right: 5%;
  font-size: 30px;
}

li {
  list-style: none;
  display: inline;
  padding: 15px;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333353;
  color: white;
  padding: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

#songTitle,
#songArtist {
  position: fixed;
  top: 10%;
}

#songArtist {
  top: 15%;
}

.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 5;
}

.shape {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, red, blue);
  border-radius: 50%;
  transition: all 0.1s linear;
  pointer-events: none;
}

.button-container {
  position: fixed;
  bottom: 10%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #444;
  color: white;
}

button:hover {
  background: #666;
}

.audio-container {
  position: fixed;
  bottom: 2%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

audio {
  width: 90%;
  max-width: 500px;
}

.final-artwork {
  display: none;
  margin-top: 30px;
}

#downloadBtn {
  padding: 15px 30px;
  background: #444;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

#downloadBtn:hover {
  background: #666;
}

.print-artwork {
  position: fixed;
  bottom: 12%;
  z-index: 1000;
}

#printBtn {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#printBtn:hover {
  background-color: #414141;
}

.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}
